<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.gonggancapsule">

    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 카메라 접근 권한 요청 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".NotificationChannel"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/icon_capsule_5"
        android:label="공간캡슐"
        android:roundIcon="@drawable/icon_capsule_5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".DataBaseCheckActivity" />
        <activity android:name=".GoogleMapActivity" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVdFmv93HaIryzHlsMnHfBq6ZZU45Tz8g" />

        <activity android:name=".WriteDiary" />

        <!-- 갤러리에 사진을 저장하기 위한 코드 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="capstone.gonggancapsule.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".DeveloperActivity"></activity>
    </application>

</manifest>